Count: <%= @accounts.count %><br/>
<%= if @avg_balance
      "Average balance: #{@avg_balance}"
    end
%>

<div style="display: block">
  <div style="display: inline-block; margin: 30px;">
    By name:
    <%= form_tag(accounts_path, method: :get) do %>
        <%= text_field_tag :term %>
        <%= hidden_field_tag :field, :name %>
        <%= submit_tag 'Search' %>
    <% end %>
  </div>

  <div style="display: inline-block; margin: 30px;">
    By email:
    <%= form_tag(accounts_path, method: :get) do %>
        <%= text_field_tag :term %>
        <%= hidden_field_tag :field, :email %>
        <%= submit_tag 'Search' %>
    <% end %>
  </div>
  <div style="display: inline-block; margin: 30px;">
    By address:
    <%= form_tag(accounts_path, method: :get) do %>
        <%= text_field_tag :term %>
        <%= hidden_field_tag :field, :address %>
        <%= submit_tag 'Search' %>
    <% end %>
  </div>

  <div style="display: inline-block; margin: 30px;">
    By balance (from : to):
    <%= form_tag(balance_search_accounts_path, method: :get) do %>
        <%= text_field_tag :balance_from %>
        <%= text_field_tag :balance_to %>
        Sort: asc
        <%= radio_button_tag :sort, :asc, true %>
        desc
        <%= radio_button_tag :sort, :desc, false %>
        <%= submit_tag 'Search' %>
    <% end %>
  </div>
</div>

<% @accounts.each do |acc| %>
    <div style="display: block">
      <h3>Name: <%= acc.name %></h3>
      <b>Email:</b> <%= acc.email %><br/>
      <b>Address:</b> <%= acc.address %><br/>
      <b>Balance:</b> <%= acc.balance %><br/>
      <%= link_to('edit', edit_account_path(acc)) %>
      <br/><hr/>
    </div>
<% end %>
